@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');




body {
    font-family: "Rubik", sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: linear-gradient(to bottom, #FDF0EA, #ffffff); 
  }

* {
    font-family: "Rubik", sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FDF0EA;
}

.logo {
    padding: 0 20px;
    width: 160px; 
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding-left: 2%;

}

.nav a {
    margin-right: 20px;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;

}

.mobile-nav {
    display: none;
}

@media only screen and (max-width: 768px) {
    .nav {
        display: none; 
    }

    .burger-menu {
        display: block; 
        cursor: pointer;
        margin-left: auto; 
        margin-right: 20px; 
        color: #EB662B;
        font-size: 24px; 
    }

    .mobile-nav {
        display: flex; 
        flex-direction: column;
        position: absolute;
        top: 60px; 
        right: 0;
        background-color: #FDF0EA;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        align-items: center;
    }

    .mobile-nav a {
        margin-bottom: 10px;
        text-align: center; 
    }

    .button {
        margin-top: -2%;
        width: auto; 
        height: auto; 
        background-color: transparent; 
        color: #EB662B; 
    }
}

.mobile-nav {
    display: none; 
}




@media only screen and (min-width: 769px) {
    .burger-menu {
        display: none;
    }
}


.nav a:hover{

    color: #EB662B;
}



.button {
    width: 60px;
    height: 30px;
    background-color: #EB662B;
    border: none;
    color: white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: transform 0.6s ease;

}

.button:hover {
    transform: scale(1.05); 
}


/* --------------------   main   ------------------------*/


.title{
    margin-top: 5%;
    margin-bottom: -10%;
    text-align: center;
    font-size: 150%;
    background-image: linear-gradient(to right, #ff7f5f, #b50864); 
    background-clip: text;
    color: transparent;
    
    }
    
    @media only screen and (max-width: 768px) {
        .title {
    
            width: 100%;
            font-size: 95%;
            margin-bottom: 5%;
            
        }
    }
    
    
    
    .carte {
        border: 1px solid #ccc;
        border-radius: 5px;
        width: calc(33% - 4%); 
        margin: 2%; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        transition: transform 0.6s ease;
        margin-top: 20%;
        margin-bottom: -10%;
       
     
      }
    
      @media only screen and (max-width: 768px) {
         .carte {
            flex-direction: column;
            flex-wrap: nowrap;
            width: 90%;
            margin-left: 5%;
            margin-bottom: 8%;
        }
    }
    
    
    .carte:hover {
        transform: scale(1.05); 
    }
    
    .carteImage img {
        width: 100%;
        height: auto;
        margin-bottom: -20px; 
    }
    
    .carteImage {
        position: relative;
        top: -40px;
    }
    
    .carteContent {
        padding: 3%;
    }
    
    
    .carteContent h4 {
        margin-bottom: 5%;
        font-size: 18px;
        color: #ffffff;
        background-color: #F9B48D; 
        padding: 10px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        padding: 10px -20px;
        width: 40%;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
    
    .carteContent p {
        font-size: 14px;
        color: #000000;
        line-height: 1.5;
        font-size: medium;
        padding-bottom: 5%;
        width: 90% ;
    }
    
    h3{
        margin-bottom: -15;
        font-size: 18px;
        color: #ffffff;
        background-color: #F9B48D; 
        padding: 10px; 
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
        padding: 10px -20px;
        text-align: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    
      
    
    .cartesContainer {
        display: flex;
        justify-content: space-around; 
        flex-wrap: wrap; 
      }
    
    .cartesOne {
    
      display: flex;
      flex-wrap: nowrap;
      justify-content: center; 
    
    
    
    }
    
    @media only screen and (max-width: 768px) {
        .cartesOne {
            flex-direction: column;
            justify-content: center;
       
    
        }
    }
    
    
    .cartesTwo {
    
        display: flex;
        flex-wrap: nowrap;
        justify-content: center; 
        margin-bottom: 15%;
      
      }
    
    
      @media only screen and (max-width: 768px) {
        .cartesTwo {
            flex-direction: column;
            justify-content: center;
       
    
        }
    }



/*------------------------- footer ---------------------------*/


  footer {
    background-color: #FDF0EA;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    font-size: 16px;
    line-height: 2;
    margin-top: 20px;
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.facebook,
.instagram,
.twitter {
    width: 30px;
    height: 30px;
    margin: 0 10px;
    

    transition: transform 0.6s ease;
}

.facebook:hover,
.instagram:hover,
.twitter:hover {
    transform: scale(1.05);
}





