@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #FDF0EA;
}

.logo {
    padding: 0 20px;
    width: 160px; 
}

.nav {
    display: flex;
    justify-content: flex-end;
    padding-left: 2%;

}

.nav a {
    margin-right: 20px;
    font-size: 100%;
    text-decoration: none;
    cursor: pointer;

}


.nav a:hover{

    color: #EB662B;
}



.button {
    width: 60px;
    height: 30px;
    background-color: #EB662B;
    border: none;
    color: white;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: transform 0.6s ease;

}

.button:hover {
    transform: scale(1.05); 
}
body {
    font-family: "Rubik", sans-serif; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Style du conteneur principal */
.main {
    display: flex;
    align-items: center;
    margin: 12rem;
    background-color: #f0f0f0;
    
  }
  
  /* Style de la section gauche */
  .left {
    width: 45%;
    display: flex;
    
  
  }
  #img_form{
    height: 500px;

  }
  /* Style du formulaire de connexion */
  .form {
  
    margin: 0 auto; 
    border: 1px solid #ccc;
    width: 400px;
    height: 500px;
    background-color: white;
    padding: 20px;
  }
  
  /* Style des champs de saisie */
  .connect {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    
    }
  .input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    padding: 12px;
  }
  
  /* Style du bouton de connexion */
  .button2 {
    width: 100%;
    padding: 10px;
    background-color:#EB662B;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    margin-bottom: 5x;
    margin-top: 5px;
  }
  
  /* Style du texte "Mot de passe oublié ?" */
  .forgot {
    text-align: right;
    margin-bottom: 10px;
    color: #4F06AA;
    text-decoration: underline; 
}
.ligne{
    margin-top: 20px;

}
  
  /* Style du texte "Ou connectez-vous avec" */
  .or {
    text-align: center;
    margin: 10px 0;
    margin-top: 30px;
    margin-bottom: 15px;
}

  /* Style des icônes des réseaux sociaux */
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 24px;
  }
  
  /* Style des images des réseaux sociaux */
  .social img {
  
    height: 40px;
  }
  
  hr {
    width: 50%;
    margin: 0 auto;
    border: 1px solid black;
  }
  /* Style du texte "Vous n'avez pas de compte ? Inscrivez-vous" */
  .register {
    text-align: center;
    margin-top: 10px;
  }
  
  /* Style de la section droite */
  .right {
    width: 55%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FDF0EA;
    white-space: nowrap;
  }
  
  /* Style de l'image de droite */
  .right img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
  }
  
  /* Style du texte "Bienvenue sur VCT" */
  .welcome {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 32px;
    font-weight: bold;
  }
  